import React from 'react'

const keven = () => {

  {{#each data}}
  {{#ifeq "Button" fieldType}}
const {{name}}Change= (e) => {
  console.log("{{label}}")
}
  {{/ifeq}}
  {{/each}}
  return (
    <>
    {{#each data}}
    {{#ifeq "Title" fieldType}}
    <h1>{{label}}</h1>
    {{/ifeq}}
    {{#ifeq "Text" fieldType}}
    <h5>{{label}}</h5>

    {{/ifeq}}
    {{#ifeq "Button" fieldType}}
    <button type="submit"  onClick={ {{name}}Change }>{{label}}</button>

    {{/ifeq}}
    {{/each}}
    </>
  )
}

export default keven